@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url('fonts/ptsans-700.woff2') format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}
.nav-list-item-icon {
  list-style-type: none;
}
.main-nav {
  color: #000000;
  background-color: #FFFFFF;
}
.navi-item {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}
.search-braun {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 4px;
}
.image-main {
  color: #FFFFFF;
  background-color: #FFFFFF;
  background-image: url("image/index/index-background.jpg");
  background-size: 100% auto;
  background-repeat:no-repeat;
}
.main-section-image {
  text-align: center;
}
.main-text {
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}
.causes-p {
  font-style: normal;
  font-size: 22px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  color: #333333;
  background-color: #FFFFFF;
}
.causes-one {
  text-align: center;
}
.causes-one-list-item-one {
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.causes-one-list-item-two {
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: #FFFFFF;
}
.causes-one-list-item {
  background-color: #83B3D3;
}
.benefits {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}
.causes-three-list-right {
  background-color: #83B3D3;
}
.causes-two-list-item-thee {
  color: #333333;
}
.causes-two-list-item-two {
  color: #333333;
}
.causes-four-list-center {
  background-color: #e6f6f0;
}
.hotel-search {
  text-align: center;
}
.hotel-search-list-item {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.hotel-search-list-the {
  width: 575px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
}
.search-braun-big {
  width: 575px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 10px;
}
.subscription {
  background-image: url("image/index/background-image.jpg");
  background-size: 100% auto;
  background-repeat:no-repeat;
}
.subscription-list {
  text-align: center;
}
.subscribetext {
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.subscription-list-item {
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
}
.subscription-list-item-normal {
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  color: #FFFFFF;
}
.form-two-button {
  width: 600px;
  height: 60px;
  background-color: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
}
.button {
  width: 200px;
  height: 60px;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 0px 10px 10px 0px;
}
.nav-list-item-footer {
  width: 18px;
  height: 15px;
}
.tel {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
/*hotels*/
.hotels {
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
}
.gl {
  color: #000000;
}
.main-img {
  color: #ffa07a;
  background-color: #faebd7;
  background-image: url("image/hotels/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main-text-h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: bold;
  color: #FFFFFF;
}
.nav-list-home {
  text-decoration: none;
  color: #FFFFFF;
}
.nav-link-current {
  color: #FFFFFF;
}
.form-section {
  text-align: center;
  color: #FFFFFF;
}
.editing {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}
.button-apply {
  width: 160px;
  height: 48px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
}
.editing-two {
  color: #000000;
  background-color: #E5E5E5;;
}
.search-section-form-h2 {
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}
.search-section-form-display-sel {
  width: 287px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}
.decoration {
  text-decoration: none;
}
.name {
  font-style: normal;
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}
.size {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}
.hotels-about {
  width: 151px;
  height: 37px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 4px;
}
.hotels-form-a {
  width: 160px;
  height: 37px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
}
.loading {
  width: 625px;
  height: 55px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
}
.pages-item-one {
  color: #000000;
  background-color: #F2F2F2;
}
.pages-item {
  width: 55px;
  height: 55px;
  background-color: #83B3D3;
  border-radius: 4px;
}
